/* Estilo general */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background-color: #121212;  Fondo oscuro */ 
  background-color: #2A2A2A;
  /*color: #e0e0e0; /* Texto claro */
  color: #8D939A;
}

.app-container {
  display: flex;
  flex-direction: column;
  /*height: 100vh;*/
}

/* Menú Superior */
.menu-navbar {
  background-color:#079b8c4f/*#03dac54f;*/;
  
}
.menu-navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*width: 100%;*/
  /*background-color: #1e1e1e;*/ /* Tono oscuro para el menú */
  /*padding: 10px 0;*/
  list-style: none;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);*/
}


.menu-navbar ul li {
  background-color: transparent;
}

.menu-navbar ul li button {
  background-color: transparent;
  border-radius: 15px;
  border: none;
  color: #bdbdbd; /* Texto claro */
  font-size: 15px;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.menu-navbar ul li button:hover {
  /*background-color: #333;*/
  background-color: #1c1c1c8c;
  color: white;
}

.menu-navbar button.active {
  /*background-color: #333333a8;*/
  background-color: #1C1C1C;
  color: white;
  font-weight: 300;
}

/* Contenedor de Dos Columnas */
.content-container {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 50px; /* Espacio entre las columnas */
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Reloj Digital */
.clock-container {
  text-align: center;
}

.clock {
  font-family: monospace; /* Fuente monoespaciada */
  font-size: 6rem;
  font-weight: bold;
  /*letter-spacing: 3px;*/
  /*color: #bb86fc; /* Color morado claro para el reloj */
  color: #03bba9;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.date {
  font-size: 1.3rem;
  color: #e0e0e0; /* Texto claro */
  margin-top: 5px;
}

/* Botones de Ingreso y Salida */
.buttons-container {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.check-in-button,
.check-out-button {
  font-size: 2rem;
  padding: 20px 40px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.check-in-button {
  background-color: #03dac6; /* Verde cian */
}

.check-out-button {
  background-color: #cf6679; /* Rojo claro */
}

.check-in-button:hover,
.check-out-button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Sección de Huella Dactilar */
.fingerprint-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*width: 120px;
  /*height: 250px;*/
  /*background-color: #ffffff; /* Fondo muy claro para visualizar la huella */
  /*background-color: #222; /* Fondo oscuro inicial */
  /*border: 2px solid #888;*/
  border-radius: 15px;
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);*/
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease, background-color 0.3s, box-shadow 0.3s ease;
}

.fingerprint-section.fingerprint-detected {
  background-color: #ffffff; /* Cambia a azul cuando se escanea */
  /*border-color: #00a8ff;*/
}

.fingerprint-section:hover {
  transform: scale(1.03);
  /*box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);*/
}

.fingerprint-section.scanning::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0.6),
    rgba(255, 0, 0, 0.1)
  );
  /*background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.1)
  );*/
  animation: scan 2s linear;
}

/*.fingerprint-section.scanning::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0.5),
    rgba(255, 0, 0, 0.1)
  );
  animation: scanEffect 2s linear infinite;
}*/

@keyframes scan {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.fingerprint-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.fingerprint-icon {
  /*font-size: 4rem;*/
  /* color: #121212; /* Color oscuro para el ícono */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fingerprint-status {
/*  margin-top: 10px;*/
  font-size: 1.2rem;
  /*color: #121212; /* Texto oscuro */
  color: #e2e2e2;
}

/* Datos del Usuario */
.user-data {
  margin-top: 20px;
  text-align: center;
  color: #e0e0e0;
}

.user-data p {
  margin: 5px 0;
}

.alert-section {
  margin: 0 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #222; /* Color oscuro */
  color: #ffffff96; /* Texto blanco */
  text-align: center;
  /*padding: 2px 0;*/
  font-size: 12px;
  /*font-weight: bold;*/
}
